<div class="center jumbotron">

<% if logged_in? %>
  <h1>Le secret de THP est que c'est la méthode 42!</h1>

  <% else %>
  <%= flash.now[:danger] = 'Tu est un petit malin toi, il faut te connecter pour savoir le secret!' %>
  <p>
<%= link_to "Ok, je suis un petit malin, je me connecte", login_path %> </p>
  <% end %>
