<div class="center jumbotron">

<% if logged_in? %>
  <h1>Le secret de THP est que c'est la méthode 42!</h1>

  <% else %>
  <%= flash.now[:danger] = "Il faut etre connecté pour pouvoir rejoindre l'event !" %>
  <p>
<%= link_to "Ok, je me connecte", login_path %> </p>
  <% end %>
