<div class="rounded-top">

<p> Description : <%= @event.description %> </p>
<p> Lieu : <%= @event.place %> </p>
<p> Date : <%= @event.date %> </p>
<p> Créateur : <%= @event.creator.email %> </p>
</div>